<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>header</key>
		<string>标题1</string>
		<key>footer</key>
		<string></string>
		<key>member</key>
		<array>
			<string>飞行模式</string>
			<string>无线局域网</string>
			<string>蓝牙</string>
			<string>蜂窝移动网络</string>
			<string>个人热点</string>
			<string>运营商</string>
		</array>
	</dict>
	<key>2</key>
	<dict>
		<key>header</key>
		<string>标题2</string>
		<key>footer</key>
		<string></string>
		<key>member</key>
		<array>
			<string>通知中心</string>
			<string>控制中心</string>
			<string>勿扰模式</string>
		</array>
	</dict>
</dict>
</plist>
