<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<array>
		<string>me</string>
	</array>
	<key>2</key>
	<array>
		<string>相册</string>
		<string>收藏</string>
		<string>钱包</string>
	</array>
	<key>3</key>
	<array>
		<string>表情</string>
	</array>
	<key>4</key>
	<array>
		<string>设置</string>
	</array>
</dict>
</plist>
